<!doctype html>
<html>
  <head>
    <title>(P)BDS</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <h2>Bracket Standings</h2>
  <h3>{{ phase.name }} (Rounds {{ phase.start }}-{{ phase.end }})</h3>
  <body>
  <script type=text/javascript>
                function slackify(bracket, message) {
                    var data = {
                        "bracket": bracket.toString(),
                        "message": message,
                    };
                    $.ajax({
                        type: 'POST',
                        contentType: 'application/json',
                        url: '/slackify',
                        dataType: 'json',
                        data: JSON.stringify(data),
                        success: function() {
                            alert(bracket + " Standings sent to Slack!");
                        }
                    })};
        </script>
    <div id="standings">
        <div class="flexy">
        {% for pool in pools %}
          <div class="tableblock">
              <h3>{{ pool.name }} <a href="javascript:void(0);" onclick="slackify('{{ pool.name }}', `{{ "\n".join(pool._status) }}`)"><img src="/static/images/slack.svg"></a> </h3>
              <table>
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Team</th>
                        <th>Record</th>
                        <th>Protests</th>
                    </tr>
                </thead>
                  {% for team in pool.teams %}
                    <tr bgcolor={{team.color}}>
                      <td>{{ team.position }}</td>
                      <td>{{ team.name }}</td>
                      <td>{{ team.wins }} - {{team.losses}}</td>
                    <td bgcolor={{ "red" if team.protest else "white" }}>{{ team.protest }}</td>
                    </tr>
                  {% endfor %}
              </table>
            </div>
        {% endfor %}
            </div>
    </div>


  </body>