<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pool.name }}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>
    <div id="standings">
        <div class="flexy">
          <div class="tableblock">
              <h3>{{ pool.name }}</h3>
              <table>
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Team</th>
                        <th>Record</th>
                    </tr>
                </thead>
                  {% for team in pool.teams %}
                    <tr>
                      <td>{{ team.position }}</td>
                      <td>{{ team.name }}</td>
                      <td>{{ team.wins }} - {{team.losses}}</td>
                    </tr>
                  {% endfor %}
              </table>
            </div>
            </div>
    </div>
</body>
</html>